*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
DoDiet-API/.env
ai-식단-관리-healthmate (1)/.env
DoDiet-API/spring_API_console.log
DoDiet-API/android_logcat_console.log